.resumeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #7400b8;
  color: #000;
  background-color: #ced4da;
}
.resumeTitle {
  font-weight: 900;
  font-size: 30px;
  padding-top: 10px;
  color: white;
  position: relative;
}
.resumeTitle:before {
  content: "";
  width: 88px;
  height: 2px;
  background: #7400b8;
  position: absolute;
  top: 55px;
}
.resumeTitle:after {
  content: "";
  width: 20px;
  height: 9px;
  background: #fbfafc;
  position: absolute;
  top: 51px;
  left: 40%;
}
.resumeContentContainer {
  margin-top: 10px;
  height: 80%;
  background-color: #f8f9fa;
  width: 80%;
  display: flex;
}
.resumeContentContainerLeft {
  flex: 1;
  position: relative;
}

.leftNav {
  position: absolute;
  left: 10%;
  top: 15%;
  background-color: #000;
  height: 70%;
  width: 35px;
}
.rightNav {
  position: absolute;
  right: 10%;
  top: 15%;
  background-color: #000;

  height: 70%;
  width: 1px;
}

.leftNavItem {
  width: 0px;
  border-radius: 30px;
  height: 30px;
  background-color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  left: 11.5%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.leftNavItemEdu {
  top: 20%;
}

.leftNavItem:hover {
  width: 200px;
  color: white;
}

.icon {
  margin-right: 20px;
  color: #fff;
}
.circle {
  font-size: x-small;
  color: black;
  /* color: #7400b8; */
  margin-right: 10px;
}

.leftNavItemProg {
  width: 160px;
  border-radius: 30px;
  height: 30px;
  background-color: #7500b800;
  position: absolute;
  display: flex;
  align-items: center;
  left: 11.5%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  top: 35%;
}
.leftNavItemProg:hover {
  background-color: #7500b8;
  background-color: #000;
  width: 200px;
  color: white;
}
.leftNavItemProj {
  top: 50%;
}
.leftNavItemInt {
  top: 65%;
}

.resumeContainerRight {
  padding: 20px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeContentContainerRight {
  padding: 20px;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 15px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item {
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}
.itemHeader {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}
.itemText {
  font-size: small;
  color: black;
}
.projLink {
  text-decoration: none;
}
.itemTimeframe {
  color: white;
  background-color: black;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: small;
}
.actives {
  background-color: black;
  width: 200px;
  color: #fff;
}

@media only screen and (max-width: 1098px) {
  .resumeContainer {
    height: 200vh;

    font-size: xx-small;
  }

  .resumeContentContainer {
    width: 095%;
    flex-direction: column;
  }

  .item {
    margin-left: 5px;
  }
  .itemText {
    font-size: xx-small;
    color: black;
  }
}
